body {
  background-color: white !important;
}

div#gs_bdy_sb {
  display: none;
}

// content
div#gs_body {
  background-color: white;
}

div#gs_bdy_ccl {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

div.gs_a {
  // authors div
  background-color: white;
  display: none;
}

div.gs_rs {
  // description
  background-color: white;
  display: none;
}

div.gs_fl {
  // citations, star button div
  // not sure why background color is needed for display none to work
  background-color: white;
  display: none;
}

div.gs_or_ggsm {
  // download button
  display: none;
}

