div#gs_bdy_sb {
    /* display: flex; */
    /* justify-content: center; */
}
div.sidebar-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  max-width: 80%;
}

div.sort-row {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

div.adv-search-container {
  display: flex;
  flex-direction: column;
}

span.title {
  display: flex;
  align-items: center;
}

i {
  margin-right: 0.5rem;
}
