div#gs_bdy_sb {
  /* display: flex; */
  /* justify-content: center; */
}

div#gs_bdy_sb_in {
  display: none;
}

ul.gs_bdy_sb_sec {
  display: none;
}

div.sidebar-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  max-width: 80%;
}

div.sort-row {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* margin-bottom: 0.5rem; */
}

div.adv-search-container {
  display: flex;
  flex-direction: column;
}

span.title {
  display: flex;
  align-items: center;
}

i {
  margin-right: 0.5rem;
}

div.alert-container {
  display: flex;
  flex-direction: column;
}
