button.mdl-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30%;
}

button.footer-button i.material-icons {
  margin: 0;
}

div.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.footer-container div.footer-button-container {
  display: flex;
}

div.citations-container {
  display: flex;
  flex-direction: column;
}