div.local-button-container {
    display: flex;
    flex-direction: column;
}

div.local_author_container {
    display: flex;

}
div#gs_res_ccl {
  max-width: 100vw;
}
div.gs_r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

div.gs_ri {
    min-width: 712px;
}

/* div.gs_or_ggsm {
    display: none;
    width: 0;
} */

